/* --------------- */
/* BOOTSTRAP FIXES */
/* --------------- */


main .container {
    width: 100%;
    max-width: 1024px;
}
/* Media width fixes */
/* TODO: change and understand max container sizes: http://getbootstrap.com/customize/#container-sizes */
/* Die Mediaselektoren beziehen sich auf die Iframe Größe z.B. 740px. Die überliegende Seite hat aber gerade 1440px...
Wird nun die Seite schmäler und verkleinert aufgrund Responsive Design den Iframe so geht der Media selektor
auf die Größe des Iframes und nicht auf die darüberliegende Seitengröße.
*/
/*
@media (min-width: 773px) {
    .container {
        width: 1155px;
        width: inherit;
    }
}
@media (min-width: 600px) {
    .container {
        width: 955px;
        width: inherit;
    }
}
@media (min-width: 500px) {
    .container {
        width: 735px;
        width: inherit;
    }
}
*/
.row {
     margin-left: 0;
     margin-right: 0;
}


/* --------------- */
/* EXTENDED DESIGN */
/* --------------- */

/* Links */
/*a { text-decoration: underline; }*/
/*a:hover { background-color: #3f3f3f; }*/

/* Buttons */
.btn {
    text-decoration: none;
}

body {
    color: black;
    /*
    font-family: "MuseoSans",Helvetica,Arial,sans-serif;
    */
    /*font-size: 1.5em;*/
    /*
    font-weight: normal;
    font-style: normal;
    */
}
/* BACKGROUND SNIPPED COLORS */
.oe_grey { background-color: #818079 !important; }
.oe_grey_light { background-color: rgba(129, 128, 121, 0.33) !important; }
.oe_blue { background-color: #036ba2 !important; }
.oe_blue_light { background-color: rgba(3, 107, 162, 0.33) !important; }
.oe_green { background-color: #0f921a !important; }
.oe_green_light { background-color: rgba(15, 146, 26, 0.33) !important; }
.oe_orange { background-color: #A25C03 !important; }
.oe_brown { background-color: #553000 !important; }
.oe_brown_light { background-color: rgba(162, 92, 3, 0.33) !important; }
.oe_black_light { background-color: rgba(0, 0, 0, 0.3); !important}
/* Headers */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}
/*
h1 {
    font-family: Museo300-Regular;
    font-size: 50px;
    color: #006eab;
    margin-top:4%;
    margin-bottom:4%;
}
h2 {
    font-family: Museo300-Regular;
    font-size: 40px;
}
h3 {
    font-family: Museo300-Regular;
    font-size: 30px;
}
h4 {
    font-family: Museo300-Regular;
    font-size: 25px;
}
h5 {
    font-family: Museo300-Regular;
    font-size: 20px;
}
*/

/* Bold Text */
/*
b, strong {
    font-weight: normal;
}
*/

/* Modal Box Trigger */
.btn-link.information-modal-box-trigger:hover {
    color: #db1921;
}

/* NAVBAR*/

#top_menu>li>a {
    font-family: MuseoSans500-Regular;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px black;
    font-weight: bold;
}

.navbar-default {
background: rgba(0,0,0,1);
background: linear-gradient(to bottom, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 59%, rgba(0,0,0,0) 100%);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 59%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(48%, rgba(0,0,0,1)), color-stop(59%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 59%, rgba(0,0,0,0) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 59%, rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 59%, rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    border-bottom: 0px;
}

@media only screen and (max-width: 1400px) and (min-width: 768px) {
.navbar-default {
        background: -moz-linear-gradient(top, #000000 0%, #565656 100%);
        background: -webkit-linear-gradient(top, #000000 0%, #565656 100%);
        background: linear-gradient(to bottom, #000000 0%, #565656 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#565656', GradientType=0);
        border-bottom: 0px;
    }
.move-into-header {
  position: initial !important;
  top: 0px !important;
  /*margin-top: -70px !important;*/
}
}

/* DISABLE DEMO MENÜ BUTTON */
/*
#top_menu > li:nth-child(7) > a {
    display:none;
}
*/
/*
.navbar-default {
    z-index:9999;
    background-image: url("../img/BG.png");
        background-size: cover;
    clear: both;
    width: 100%;
    margin: 0;
}*/
header {
    background-color: black;
}

.move-into-header {
  position: relative;
  /*top: -70px;*/
  margin-top: -70px !important;
}

myCarousel_1469701223895 {
      margin-top: -70px !important;
}
#website_sale_donate.parallax {
    margin-top: -70px;
    padding-top: 70px;
}
.navbar-default .navbar-nav>li>a {
    padding-top: 80px !important;
    padding-bottom: 5px !important;
    font-size: 18px;
}

.navbar.navbar-static-top ul.nav > li.divider {
    height: 18px !important;
    max-height: 18px !important;
    margin-top: 80px !important;

}
.navbar-default .navbar-nav>.active>a {
    background-image: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
/* Nav-Tabs */

.nav_tabs>li {
    border: 1px #3f3f3f;
}
.nav_tabs > ul {
    border: 1px solid black;
    padding-bottom: 2px;
}
.nav>li>a:hover {
    background-color: #3f3f3f;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #fff;
}
.tab-content {
    background-color: #fff;
    padding-bottom: 2em;
}
.tab-pane { padding: 1em; }

#top_menu > li.active > a {
    color: #00a8c6;
}

/*DROPDOWN MENU BEGIN */
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.75);
}
.dropdown-menu>li>a {
    /*color: white;*/
    font-family: "MuseoSans500-Regular",Helvetica,Arial,sans-serif;
}
.dropdown-menu>li>a:hover {
    background-color: rgba(128, 128, 128, 0.25);
    background-image: none;
    color: white;

}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background-color: rgba(128, 128, 128, 0.25);
    background-image: none;
}
/*Dropdown menu END */

/* jquery-validate control-icons (green arrow or red cross) */
#wsd_checkout_form .form-control-feedback {
    top: 30px !important;
}

#wsd_checkout_form .billing-fields .form-control-feedback {
    right: 15px;
}
/* Main Navigation: Navbar */
.navbar.navbar-static-top ul.nav > li.divider {
    height: 60px;
}
header a.navbar-brand img {
    margin-top: 36px;
}

/* Checkout Box */
.price_donate {
    margin-top: 1em;
}

#price_donate {
    color: inherit;
}


@media (min-width: 500px) {
    .form-inline .form-group {
        display: inherit;
    }
}
@media (max-width: 500px) {
    #price_donate { font-size: 0.7em !important; }
}

/* Media Selektor Tablet Special 3er Block Verhalten iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  main .container img {
    max-width: 50% !important;
    float: right;
  }
}
/**********
iPad 3 Pixel Ratio
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* checkoutform
TODO Check ob diese Settings auch über BOOTSTRAP einstellbar sind
*/
#wsd_checkout_form .form-control {
    padding: auto;
}
.row .wsd_opc_delivery {
    display: none;
}
#website_sale_login_info {
    display: none;
}

@media (max-width: 740px) {
.col-md-push-8 {
    left: initial;
}
.col-md-offset-1 {
    margin-left: initial;
}
#wsd_checkout_page_right_column {
    width: 100%;
    float:left;
}
#wsd_checkout_page_left_column {
    right: initial;
}
.col-md-8 {
    width: 100%;
}
/* Warenkorb*/
#right_column {
    display:none;
}
}
/*
#footer {
    display: none;
}
*/

footer {
    background: #00669e !important;
    /*color: #0f921a !important;*/
    color: white !important;
}
/* Opensource logo rechts unten begin */
#wrapwrap > footer > div.container.mt16.mb8 > div.pull-right {
    color: #0f921a;
}

#wrapwrap > footer > div.container.mt16.mb8 > div.text-muted {
    color: white !important;
}
#wrapwrap > footer > div.container.mt16.mb8 > div.pull-right > a.label.label-danger {
    background-color: inherit;
    color: #0f921a;
    text-decoration: none;
}

#wrapwrap > footer > div.container.mt16.mb8 > div.pull-right a {
    color: #0f921a;
    text-decoration: none;
}
/* Opensource logo rechts unten end */

footer a {
    color: white;
    text-decoration: underline;
}
footer a:hover, a:focus {
    color: white;
}

footer > div.container.mt16.mb8 > div.text-muted {
  color: #0f921a;
}

main .container {
    max-width: 1170px;
    margin: auto;
    display: block !important;
}

main .container img {
    max-width: 100%;
}

header a.navbar-brand img {
    max-height: 90px !important;
}
header a.navbar-brand img {
    margin-top: 10px;
}
    #popupbox .container.popup_box {
    background: transparent;
    border: none;
    box-shadow: 0 0 10px black !important;
    padding-bottom: 10px !important;
}
    .ppt_opc #wsd-checkout-box img.product-image {
        width: auto !important;
    }

#top_menu > li:nth-child(1) > a {
    display: none;
    }
#top_menu > li.active > a {
    color: #55ab26;
}
.oe_structure .jumbotron {

    max-width: 1170px;
    margin: auto;
}

.has-feedback .form-control {
    padding-right: 2px;
}

/*
.ppt_donate p {
    mix-blend-mode: overlay lighten;
}
*/
/* BLOG CSS */
#main_column > div:nth-child(n) > div > div.col-md-9 > span > img {
    display: none;
}
#main_column > div:nth-child(n) > div > div.col-md-9 > div > div {
    display: none;
}
address.mb0 {
    display: none;
}
#title > div.blog_title > div:nth-child(4) > span:nth-child(1) > img {
    display: none !important;
}

@media (max-width: 768px) {
    .navbar-default .navbar-nav>li>a {
            padding-top: initial !important;
    }
    .navbar.navbar-static-top ul.nav > li.divider {
        margin-top: initial !important;
    }
}
@media (max-width: 992px) { /* WICHTIG für TABLET Version wenn jemand beim snippet die Größe verzieht dann wird eine
                                fixe Height reingeschrieben und damit ist der block kaputt am tablet */
    section {
        height: auto !important;
    }
}
@media only screen and (min-device-width: 768px) {
    section div.container div.row div.col-md-6.mt16 {
        display: grid;
    }
}