/* ---- */
/* MAIN */
/* ---- */
/* ------------------------------- */
/* BIRD SIZING FOR 650 PIXEL WIDTH */
/* ------------------------------- */
#bird_header_body, #emailBody, #bird_footer_body {
    margin: 0 auto;
    width: 100%;
}
#bird_header_body .flexibleContainer,
#emailBody .flexibleContainer,
#bird_footer_body .flexibleContainer {
    width: 650px;
}

/* Set Basic Colors */
.dadi_sb_fg_darkgrey .flexibleContainerCell .nestedContainerCell {
 background-color: #4c4c4c !important;
}

.bird_sb_bg_blue {
    background-color: #0070ac;
    color: white;
}

.bird_sb_bg_green {
    background-color: #49ac2e;
        color: white;
}

.bird_sb_fg_green {
    background-color: #49ac2e;
        color: white;
}

.bird_sb_fg_blue {
    background-color: #0070ac;
        color: white;
}

.bird_di_button_blue {
    background-color: #0070ac !important;
    color: white !important;
}

html, body, #bodyTable, #bodyCell {
    background-color: #f9f9f9;
}
html body #wrapwrap {
    margin-top: 0;
}
.headerCell {
    font-size: 12px;
}
#open_in_browser {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* bird header */
#bird_header {
    padding-top: 0;
    padding-bottom: 0;
}
#bird_header .contentTable {
    background-color: white;
    color: #eeeeee;
    font-size: 11px;
    line-height:13px;
}
#bird_header .contentTable a {
    color: #bbbbbb;
}
#bird_header tr.ckediting_disabled.divider {
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #4c4c4c;
    border-style: solid;
}
#bird_header table.flexibleContainerCenter .imageContent {
    padding: 6px 20px 0 20px;
}

#bird_header table.flexibleContainerCenter .imageContent img {
    width: 60%;
}
/*#bird_header table.flexibleContainerLeft .imageContent,*/
/*#bird_header table.flexibleContainerRight .textContent {
    padding: 15px 20px;
}*/

/*@media screen and (max-width: 700px) {
  #bird_header {
    display: none !important;
    }
}*/

/* body */
#bodyCell {
    padding-top: 0;
    padding-bottom: 0;
}

/* bird footer */

#bird_footer {
    color: white;
    text-color: white;
    background-color: #0070ac;
    padding-top: 1em;
    /* Fix for Aplle iOS clients */
    padding-bottom: 10px;
}

#bird_footer a:-webkit-any-link {
color: inherit !important;
    text-color: inherit !important;
text-decoration: none;
}

#bird_footer .flexibleContainerLeft,
#bird_footer .flexibleContainerRight {
    width: 50%;
}
#bird_footer .bird_footer_unsubscribe_info a {
    color: white;
    text-color: white;
}
#bird_footer_left h6,
#bird_footer_left p {
    text-align: left;
}
#bird_footer_right a {
    color: white;
    text-color: white;
}
/* xxx
#bird_footer {
    font-size: 11px;
    line-height: 13px;
}
#bird_footer .contentTable a {
    color: white;
}
#bird_footer .flexibleContainerLeft,
#bird_footer .flexibleContainerRight {
    width: 50%;
    background-color: #0070ac;
}
#bird_footer .bird_footer_abmeldelink .flexibleContainer {
    border-top: 1px solid #dddddd;
    background-color: #0070ac;
}
#bird_footer .bird_footer_abmeldelink .contentTable .textContent {
    padding-top: 5px;
    padding-bottom: 5px;
}
*/
/*
.bird_footer_social {
    background-color: #0070ac;
}
.bird_footer_contact_info {
    background-color: #0070ac;
}
*/
/*xxx
#bird_footer > div.bird_footer_info.dadi_sb_bg_full.ckediting_disabled > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td {
        background-color: #0070ac;
}
#bird_footer .bird_footer_social img {
    width: 32px;
}
#bird_footer .bird_footer_info {
    padding-top: 0px;
}
#bird_footer .bird_footer_info > table > tbody > tr > td > table > tbody > tr > td > table {
    background-color: #0070ac;
}
table.flexibleContainerLeft.bird_footer_social {
    margin-bottom: 0px !important;
}

#bird_footer .bird_footer_info .textContent.ckediting_disabled {
            background-color: #0070ac !important;

}
table.flexibleContainerLeft.bird_footer_social {
        background-color: #0070ac !important;
}
#bird_footer .bird_footer_info .flexibleContainerLeft .textContent {
    padding-top: 10px;
    padding-bottom: 10px;
}
#bird_footer .bird_footer_info .flexibleContainerRight {
    color: white;
}
*/


/* ---------- */
/* Typography */
/* ---------- */
body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue', 'Helvetica Neue', 'Segoe UI', 'Dejavu Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #5a5a5a;
}
p {
    /* Top */
    margin-top: 0;
    -webkit-margin-before: inherit;
    /* Bottom */
    margin-bottom: 0;
    -webkit-margin-after: inherit;
    padding-bottom: 0.25em;
    /* Just reset */
    -webkit-margin-start: inherit;
    -webkit-margin-end: inherit;
}
/* Links */
a {
    color: #0070ac;
    text-decoration: none;
}
/* Headlines */
.h1, .h2, .h3,
h1, h2, h3 {
    margin-top: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-family: MuseoSans, Helvetica, Arial, sans-serif;
    line-height: 110%;
    color: grey;

    /* Top */
    margin-top: 0;
    -webkit-margin-before: inherit;

    /* Bottom */
    margin-bottom: 0;
    -webkit-margin-after: inherit;
    padding-bottom: 0.25em;

    /* Just reset */
    -webkit-margin-start: inherit;
    -webkit-margin-end: inherit;
}
.h1, h1 {
    font-size: 46px;
    padding-bottom: 12px;
    font-weight: bold;
}
.h2, h2 {
    font-size: 33px;
    font-weight: bold;
}
.h3, h3 {
    font-size: 27px;
    font-weight: bold;
}
.h4, h4 {
    font-size: 23px;
    font-weight: bold;
}
.h5, h5 {
    font-size: 14px;
    font-weight: bold;
}
.h6, h6 {
    font-size: 12px;
    font-weight: bold;
}

.bird_title_image {
    margin-bottom: 8px;
}
.bird_title {
    font-family: MuseoSans, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 12px;
}

blockquote {
    padding: 11px 22px;
    margin: 0 0 22px;
    font-size: 20px;
    border-left: 5px solid #49ac2e;
}

.bird_date_in_header {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
}