#bird_birdwatch_map {
    height: 600px;
    background: white;
}

/* remove svg styles from web_graph addon for leaflet.js */
.leaflet-map-pane svg {
    -webkit-touch-callout: unset;
    -webkit-user-select: unset;
    -khtml-user-select: unset;
    -moz-user-select: unset;
    -ms-user-select: unset;
    user-select: unset;
    /* Trying to get SVG to act like a greedy block in all browsers */
    display: unset;
    width: unset;
    height: unset;
}

.leaflet-map-pane svg text {
    font: unset;
}

.leaflet-map-pane svg .title {
    font: unset;
}

.leaflet-div-icon {
    border: none;
    background-color: transparent;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */
@media (max-width: 768px) {
    #bird_birdwatch_map {
        height: 400px;
    }

    #gardenMapInfoBox {
        width: 145px;
        top: 18px;
        left: 18px;
    }

    #gardenMapInfoBox .totalgardensize .gardenMapInfoBoxText {
        top: 10px;
        width: 100%;
        font-size: 18px;
    }

}

